@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SeaWise App | Log in</title>
    

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/themedata/adminlte/plugins/fontawesome-free/css/all.min.css" />
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/themedata/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/themedata/adminlte/dist/css/adminlte.min.css" />


    <style>
       
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .login-page {
            background-image: url(@Url.Content("/images/LoginBackground.jpg") );
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh; 
            display: flex;
            justify-content: center;
            align-items: center;
        }

        
        .login-box {
            width: 360px;
            margin: auto;
        }
    </style>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="" class="h1"><b>Sea</b><i>Wise</i></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form asp-controller="Account" asp-action="Login" method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span><b>SW</b></span>
                            </div>
                        </div>
                        <input type="text" class="form-control" id="employeeCode" name="swCode" placeholder="____-____">
                        
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password"  placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

               <br/>

                <p class="mb-1">
                    <a href="forgot-password.html">I forgot my password</a>
                </p>
                
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/themedata/adminlte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/themedata/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/themedata/adminlte/dist/js/adminlte.min.js"></script>
    <!-- InputMask -->
    <script src="~/themedata/adminlte/plugins/inputmask/jquery.inputmask.min.js"></script>


    <script>
        $(document).ready(function () {
            $("#employeeCode").inputmask("9999-9999");
        });
    </script>

</body>
</html>
