
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<Ship>

<ul>
    @foreach (var item in Model)
    {
        <li>@item.ShipName</li>
    }
</ul>